      <center>
       <br> 
       
        <marquee style="color: green;">Ryker Gelişmiş Discord Botu. Web panelinde hata bulursanız lütfen yöneticilere bildiriniz. Bota oy vermeyi ve destek sunucusuna katılmayı unutmayın.</marquee>
      </center>
    </body>
</html>
